<div id="global-nav" class="clearfix">
	<nav>
		<ul>
			<li><a>はじめての方へ</a></li>
			<li><a>安心して施工できる理由とは？</a></li>
			<li><a>取り扱い商品一覧</a></li>
			<li><a>デザイン事例イメージ</a></li>
			<li><a>ご利用ガイド</a></li>
			<li><a>お問い合わせ</a></li>
		</ul>
	</nav>
</div>