<div class="header_logo_area">
                <p class="copy">くらしを楽しむライフスタイルグッズ</p>
                <h1 class="header_logo"><a href="{{ url('homepage') }}">{{ BaseInfo.shop_name }}</a></h1>
            </div>